@using DeviceStore.Portal.App.ViewModels;
@model DeviceViewModel

<div class="text-center">
    <h2>Warehouse/getById</h2>
</div>	
<form action="/account/index">
               <button>Index</button>
           </form>
<div>
    <h3>Вы выбрали @Model.Name <a href="get?skip=0&take=10"> Положить в корзину</a></p></h3>
    <h3>Какие-то характеристики</h3>
    <h3>Описание</h3></div>