<header class="header">
    <div class="navbar">
        <a href="#" class="logo">
            <img src="Images\logo.png" alt="logo: deviceStore" class="logo-image"/>
        </a>
        <nav class="navbar-menu">
            <ul class="menu">
                <li class="menu-item">
                    <a href="#" class="menu-link">Каталог инструментов</a>
                </li>
                <li class="menu-item">
                    <a href="#" class="menu-link">Прочие услуги</a>
                </li>
                <li class="menu-item">
                    <a href="#" class="menu-link">Каталог</a>
                </li>
                <li class="menu-item">
                    <a href="#" class="menu-link">Каталог</a>
                </li>
            </ul>
        </nav>
        <div class="button-group">
            <a href="/account/login" class="button"> Вход и регистрация</a>
        </div>
    </div>
</header>

<div class="text-center">
    <h2>Home/Index</h2>
</div>	
<form action="/account/login">
    <button>Войти</button>
</form>
<h3>Нет Home/Index</h3>
<form action="/account/register">
    <button>Регистрация</button>
</form>